<%= link_to 'Zurück', :back, style:'float:right;color:red'%>
<div class="container-fluid">
<%  @sprint.sprint_boards.each do |board| %>
    <div class="col-sm-2" style="margin-top: 2em">
      <div class="panel panel-default shadow2">
        <div class="panel-heading"><%= board.title %></div>

        <div class="panel-body" id="droppable" data-board-id="<%=board.id%>" style="min-height: 8em">

          <% board.sprint_cards.each do |f| %>
              <% if board.title == "Fertig" %>

                  <div class="well well shadow" style="background-color: <%= f.color %>" data-card-id="<%=f.id%>">
                    <%= f.title %>
                  </div>

              <% else %>
              <div class="well well-sm shadow" style="background-color: <%= f.color %>" id="<%= f.html_id %>" data-card-id="<%=f.id%>" data-board-title="<%=board.title%>"
                   data-toggle="modal" data-target="#sprintCardModal<%= f.id %>" onclick="checkEstimations('<%= board.title %>',<%= f.id %>, 1); checkComments('<%= board.title %>',<%= f.id %>, 1)">
                <%= f.title %>
                <% if f.released %>
                    <hr>
                    <div class="row">
                      <div class="col-sm-4" >
                        <div style="float: left">
                          <%= f.username.nil? ? "Username" : f.username %>
                        </div>
                      </div>
                      <div class="col-sm-8" >
                        <div style="float: right">
                          Aufwand : <%= f.work_to_do %>
                        </div>
                      </div>
                    </div>
                <% end %>

              </div>
              <%= render partial: 'modal', locals: {f: f, board: board} %>

            <% end %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>
</div>
<script>

  $("[id^=change-form-sprint]").submit( function (e) {
    e.preventDefault();
    var form = $(this);
    var cardId = form.attr("data-card-id");
    var boardId = form.attr("data-board-id");
    var roundId = form.attr("data-round-id");
    var boardTitle = form.attr("data-board-title");
    var color = form.find('input[type=radio]:checked').val();
    var title = form.find("input[id^=title]").val();
    var aufwand = form.find("#sel"+cardId+" option:selected" ).text();
    var userName = "<%= current_user.username  %>";
    var text = form.find("input[id^=comment]").val();
    $.ajax({
      type: "POST",
      url: '/update_sprint_card/'+cardId,
      data: { title: title, color: color, aufwand: aufwand, user_id: <%= current_user.id  %>, user_name: userName, text: text },
      success: function(data, textStatus, xhr) {

        checkComments(boardTitle, cardId, roundId);
        checkEstimations(boardTitle, cardId, roundId);
        form.find("input[id^=comment]").val('');
      }

    });

  });

  $(document).ready( function() {
    $( "[id^=draggable]" ).draggable({ revert: "invalid", helper: "clone", zIndex: 100 });

    $( "[id^=droppable]" ).droppable({
      classes: {
        "ui-droppable-active": "ui-state-active",
        "ui-droppable-hover": "ui-state-hover"
      },
      drop: function( event, ui ) {

        var cardId = ui.draggable.attr("data-card-id");
        var boardId = $(this).attr("data-board-id");
        var header = $(this).parent().children('.panel-heading');

        if(header.text().toString() == "Fertig") {

          $(this).append(ui.draggable);
          $(ui.helper).remove();

          $.ajax({
            url: '/sprint_card_done/'+cardId+'/'+boardId,
            success: function(data, textStatus, xhr) {
            }
          });
          $(ui.draggable).disable();

        } else {

          $(this).append(ui.draggable);
          $.ajax({
            url: '/change_sprint_board/'+cardId+'/'+boardId,
            success: function(data, textStatus, xhr) {
            }
          });
        }
      }
    });
  } );


  function checkEstimations(boardTitle, sprintCardId, roundId) {
    if(boardTitle == "Sprint Backlog") {
      $.ajax({
        type: "GET",
        url: '/check_estimations/'+sprintCardId+'/'+roundId,
        dataType : 'json',
        success: function(data) {
          if(data != null) {
            var content = '<div class="container-fluid" id="aufwand"> <table class="table"><thead>' +
                '<tr><th>User</th><th>Aufwand</th><th>Datum</th></tr></thead><tbody>';

            for (var x = 0; x < data.length; x++) {
              var date = new Date(data[x].updated_at);
              var tag = date.getDate();
              tag = (tag < 10) ? ("0" + tag) : tag ;
              var monat = date.getMonth();
              monat += 1;
              monat = (monat < 10) ? ("0" + monat) : monat ;
              var jahr = date.getFullYear();
              var stunde = date.getHours();
              var minute = date.getMinutes();
              minute = (minute < 10) ? ("0" + minute) : minute ;
              var sekunden = date.getSeconds();
              sekunden = (sekunden < 10) ? ("0" + sekunden) : sekunden ;

              var datum = "<p>Am: " +tag+ "." +monat+ "." +jahr+ "</p><p>Um: " +stunde+ ":" +minute+ ":" +sekunden +"</p>";

              content += '<tr><td>'+data[x].user_name+'</td><td>'+data[x].estimated_days+' Tage</td><td>'+datum+'</td></tr>';
            }
            content += "</tbody></table></div>";

            $("#estimations"+sprintCardId+roundId).children().remove();
            $(content).appendTo("#estimations"+sprintCardId+roundId);

            if(data[0].agreement) {
              $('.well[data-card-id=' +sprintCardId+ ']').first().prop("id", "draggable");
            }
          }

        }
      });
    }
  };

  function checkComments(boardTitle, sprintCardId, roundId) {
    if(boardTitle == "Sprint Backlog") {
      $.ajax({
        type: "GET",
        url: '/check_comments/'+sprintCardId+'/'+roundId,
        success: function(data) {
          var content = '<div class="container-fluid" id="comment"> <table class="table"><thead>' +
              '<tr><th>User</th><th>Kommentar</th><th>Datum</th></tr></thead><tbody>';

          for (var x = 0; x < data.length; x++) {
            var date = new Date(data[x].updated_at);
            var tag = date.getDate();
            tag = (tag < 10) ? ("0" + tag) : tag ;
            var monat = date.getMonth();
            monat += 1;
            monat = (monat < 10) ? ("0" + monat) : monat ;
            var jahr = date.getFullYear();
            var stunde = date.getHours();
            var minute = date.getMinutes();
            minute = (minute < 10) ? ("0" + minute) : minute ;
            var sekunden = date.getSeconds();
            sekunden = (sekunden < 10) ? ("0" + sekunden) : sekunden ;

            var datum = "<p>Am: " +tag+ "." +monat+ "." +jahr+ "</p><p>Um: " +stunde+ ":" +minute+ ":" +sekunden +"</p>";

            content += '<tr><td>'+data[x].user_name+'</td><td>'+data[x].text+'</td><td>'+datum+'</td></tr>';
          }
          content += "</tbody></table></div>";
          $("#work-comments"+sprintCardId+roundId).children().remove();
          $(content).appendTo("#work-comments"+sprintCardId+roundId);
        }
      });
    }
  };

</script>