<div class="container-fluid">
  <%= link_to 'Zurück zur Übersicht', :back %>
  <% if @sprint.finished %>
      <%= render partial: 'finished', locals: {sprint: @sprint} %>
  <% end %>
  <div class="table-responsive">
    <table class="table table-hover table-bordered" style="margin-top: 1em">
      <thead>
        <tr>
          <%  @sprint.sprint_boards.each do |sprint_board| %>
            <th><%=	 sprint_board.title %></th>
          <%  end %>
        </tr>
      </thead>
      <tbody>
         <%  @sprint.cards.each do |card| %>
            <tr>
              <td>
                <div class="well well shadow" style="background-color:<%= card.color %>"  data-card-id="<%= card.id %>">
                  <h5>
                    <span class="label label-info shadow2" style="float:right;cursor:pointer;margin-top: -2em"
                          data-toggle="modal" data-target="#cardModal"
                          onclick="updateNewSprintCardModal(<%= card.id %>, <%=@sprint.id%>)">
                    <span class="glyphicon glyphicon-cog"></span> Optionen</span>
                  </h5>
                  <div class="well well-sm" style="margin: 0.2em 0 0 0; font-size: x-small; background-color: antiquewhite">
                    <%= card.title %>
                  </div>
                  <h6>
                    <span class="label label-default" onclick="$(this).parent().siblings('#crit-div').fadeToggle('slow');
                    $(this).parent().next('h6').children('span').toggle();$(this).toggle();" style="cursor:cell">
                    <span class="glyphicon glyphicon-chevron-down"></span> Kriterien</span>
                  </h6>
                  <h6>
                    <span class="label label-default" onclick="$(this).parent().siblings('#crit-div').fadeToggle('slow');
                    $(this).parent().prev('h6').children('span').toggle();$(this).toggle();" style="cursor:cell;display:none">
                    <span class="glyphicon glyphicon-chevron-up"></span> Kriterien</span>
                  </h6>
                  <div id="crit-div" style="display:none">
                    <% card.acceptance_criteriums.each do |crit| %>
                      <div class="well well-sm" style="margin: 0.2em 0 0 0; font-size: x-small"><%=	 crit.text %></div>
                    <% end %>
                  </div>
                    <div id="priodiv" style="margin: 0.2em 0 0 0; font-size: x-small">Priorität: <%= card.priority %></div>
                    <span class="badge" style="float:right;background-color: firebrick"><%= card.work_to_do %></span>
                </div>
              </td>
              <td data-board-name="Planning">
                <div class="row">

                <%  card.sprint_cards.each do |sprint_card| %>
                    <%	 if sprint_card.sprint_board.title == "Planning" %>
                          <%= render partial: 'sprint_card', locals: {sprint_card: sprint_card} %>
                    <%	 end %>
                <%  end %>
                </div>
              </td>
              <td id="droppable" data-board-name="In Work">
                <%  card.sprint_cards.each do |sprint_card| %>
                    <%	 if sprint_card.sprint_board.title == "In Work" %>
                        <%= render partial: 'sprint_card', locals: {sprint_card: sprint_card} %>
                    <%	 end %>
                <% end %>
              </td>
              <td id="droppable" data-board-name="Code Review">
                <%  card.sprint_cards.each do |sprint_card| %>
                  <%	 if sprint_card.sprint_board.title == "Code Review" %>
                        <%= render partial: 'sprint_card', locals: {sprint_card: sprint_card} %>
                  <%	 end %>
                <%  end %>
              </td>
              <td data-board-name="Done">
                <%  card.sprint_cards.each do |sprint_card| %>
                  <%	 if sprint_card.sprint_board.title == "Done" %>
                        <%= render partial: 'sprint_card', locals: {sprint_card: sprint_card} %>
                  <%	 end %>
                <%  end %>
              </td>
            </tr>
         <%	 end %>
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="cardModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Task erstellen</h4>
        </div>
        <div class="modal-body">
          <form id="create-sprint-card" data-card-id="" data-sprint-id="">
            <div class="form-group">
              <label for="title">Beschreibung:</label>
              <textarea class="form-control" rows="4" id="title" style="resize: vertical" required></textarea>
            </div>
            <div class="form-group">
              <label for="color">Farbe wählen:</label>
              <label class="radio-inline">
                <input type="radio" name="color" value="lightblue" id="lightblue" checked><%= image_tag('lightblue.PNG') %>
              </label>
              <label class="radio-inline">
                <input type="radio" name="color" value="lightcoral" id="lightcoral"><%= image_tag('lightcoral.PNG') %>
              </label>
              <label class="radio-inline">
                <input type="radio" name="color" value="lightsalmon" id="lightsalmon"><%= image_tag('lightsalmon.PNG') %>
              </label>
            </div>
            <div class="form-group">
              <label for="prio">Priorität:</label>
              <select class="form-control" id="prio">
                <option value="3">gering</option>
                <option value="2">mittel</option>
                <option value="1">hoch</option>
              </select>
            </div>'
            <p>
              <button type="submit" class="btn btn-default">Fertig</button>
            </p>

          </form>
        </div>
      </div>

    </div>
  </div>
</div>
<script>

  function updateNewSprintCardModal(cardId, sprintId) {
    var form = $('#create-sprint-card');
    form.attr("data-card-id", cardId);
    form.attr("data-sprint-id", sprintId);
  }

  function bindListeners() {
    $("[id^=change-form-sprint]").submit( function (e) {
      e.preventDefault();
    });
  }

  function updateOptions(formId) {
    var form = $('#'+formId);
    var color = form.find('input[type=radio]:checked').val();
    var title = form.find("input[id^=title]").val();
    var cardId = form.attr("data-card-id");
    var prio = form.find("#prio"+cardId+" option:selected" ).val();
    var prioText = form.find("#prio"+cardId+" option:selected" ).text();
    $.ajax({
      method: 'POST',
      url: '/update_options/'+cardId,
      data: {title: title, color: color, priority: prio},
      success: function(data) {
        updateModal(form, cardId);
        var div = $('div[data-sprint-card-id='+cardId+']');
        div.css("background-color", color);
        div.children('.title').text(title);
        if(prio != ""){
          div.children('#priodiv').text("Priorität: "+prioText);
        }
      }
    });
  }
  function updateWorkDone(formId) {
    var form = $('#'+formId);
    var workDone = form.find("input[id^=work-done]").val();
    var cardId = form.attr("data-card-id");
    var boardTitle = form.closest('.panel-body').attr('data-board-title');
    $.ajax({
      method: 'POST',
      url: '/update_work_done/'+cardId,
      data: {work_done: workDone},
      success: function(data) {
        location.reload();
      }
    });
  }
  function registerForCard(formId) {
    var form = $('#'+formId);
    var cardId = form.attr("data-card-id");
    var confirmed = confirm('Diese Aufgabe wirklich übernehmen?');
    if(confirmed) {
      $.ajax({
        method: 'POST',
        url: '/register_for_card/'+cardId,
        data: {},
        success: function(data) {
          location.reload();
        }
      });
    }
  }
  function updateComment(formId) {
    var form = $('#'+formId);
    var roundId = form.attr("data-round-id");
    var sprintCardId = form.attr("data-card-id");
    var text = form.find("input[id^=comment]").val();
    $.ajax({
      method: 'GET',
      url: '/update_comments/'+roundId,
      data: {text: text, username: "<%= current_user.username %>"},
      success: function(data) {

        var content = '';
        for (var y = 0; y < data.length; y++) {
          var local = data[y];
          var date = new Date(local.updated_at);
          var tag = date.getDate();
          tag = (tag < 10) ? ("0" + tag) : tag;
          var monat = date.getMonth();
          monat += 1;
          monat = (monat < 10) ? ("0" + monat) : monat;
          var jahr = date.getFullYear();
          var stunde = date.getHours();
          var minute = date.getMinutes();
          minute = (minute < 10) ? ("0" + minute) : minute;
          var sekunden = date.getSeconds();
          sekunden = (sekunden < 10) ? ("0" + sekunden) : sekunden;

          var datum = "<p>Am: " + tag + "." + monat + "." + jahr + "</p><p>Um: " + stunde + ":" + minute + ":" + sekunden + "</p>";

          content += '<tr><td>' + local.user_name + '</td><td>' + local.text + '</td><td>' + datum + '</td></tr>';
        }
        form.find("input[id^=comment]").val('');
        form.find('[id^=table]').children().remove();
        form.find('[id^=table]').append(content);
      }
    });
  }
  function updateRequest(formId) {
      var form = $('#'+formId);
      var roundId = form.attr("data-round-id");
      var sprintCardId = form.attr("data-card-id");;
      var text = form.find("input[id^=request]").val();
      $.ajax({
          method: 'Post',
          url: '/update_request/'+sprintCardId,
          data: {text: text, username: "<%= current_user.username %>"},
          success: function(data) {

              var content = '';
              for (var y = 0; y < data.length; y++) {
                  var local = data[y];
                  var date = new Date(local.updated_at);
                  var tag = date.getDate();
                  tag = (tag < 10) ? ("0" + tag) : tag;
                  var monat = date.getMonth();
                  monat += 1;
                  monat = (monat < 10) ? ("0" + monat) : monat;
                  var jahr = date.getFullYear();
                  var stunde = date.getHours();
                  var minute = date.getMinutes();
                  minute = (minute < 10) ? ("0" + minute) : minute;
                  var sekunden = date.getSeconds();
                  sekunden = (sekunden < 10) ? ("0" + sekunden) : sekunden;

                  var datum = "<p>Am: " + tag + "." + monat + "." + jahr + "</p><p>Um: " + stunde + ":" + minute + ":" + sekunden + "</p>";

                  content += '<tr><td>' + local.username + '</td><td>' + local.text + '</td><td>' + datum + '</td></tr>';
              }
              form.find("input[id^=request]").val('');
              form.find('[id^=tablereq]').children().remove();
              form.find('[id^=tablereq]').append(content);
          }
      });
  }
  function estimate(formId, roundNumber) {
    var form = $('#'+formId);
    var roundId = form.attr("data-round-id");
    var sprintCardId = form.attr("data-card-id");
    var aufwand = form.find("#sel"+sprintCardId+" option:selected" ).text();
    if(aufwand != 0) {
      $.ajax({
        type: "Post",
        url: '/estimate/' + sprintCardId,
        dataType: 'json',
        data: {aufwand: aufwand, round_id: roundId},
        success: function (data) {
          if (data != null) {
            var content = '<table class="table"><thead>' +
                '<tr><th>User</th><th>Aufwand</th><th>Datum</th></tr></thead><tbody>';

            for (var x = 0; x < data.length; x++) {
              var date = new Date(data[x].updated_at);
              var tag = date.getDate();
              tag = (tag < 10) ? ("0" + tag) : tag;
              var monat = date.getMonth();
              monat += 1;
              monat = (monat < 10) ? ("0" + monat) : monat;
              var jahr = date.getFullYear();
              var stunde = date.getHours();
              var minute = date.getMinutes();
              minute = (minute < 10) ? ("0" + minute) : minute;
              var sekunden = date.getSeconds();
              sekunden = (sekunden < 10) ? ("0" + sekunden) : sekunden;

              var datum = "<p>Am: " + tag + "." + monat + "." + jahr + "</p><p>Um: " + stunde + ":" + minute + ":" + sekunden + "</p>";

              content += '<tr><td>' + data[x].user_name + '</td><td>' + data[x].estimated_days + ' Tage</td><td>' + datum + '</td></tr>';
            }
            content += "</tbody></table>";

            form.find('#aufwand').append(content);

            var estimationsDiv = $("#estimations" + sprintCardId + roundId);
            if(estimationsDiv.attr("data-done") == true) {
              form.find('#estimation-button').css("display", "none");
            } else {
              if (data[0].agreement) {
                var well = $('.well[data-card-id=' + sprintCardId + ']');
                well.first().prop("id", "draggable");
                estimationsDiv.attr("data-done", true);
                form.find('#estimation-button').css("display", "none");
/*                $.ajax({
                  type: "POST",
                  url: '/move_to_planned/' + sprintCardId,
                  dataType: 'json',
                  success: function (data) {
                    location.reload();
                  }
                });*/
              }
              if (data[0].agreement == false) {
                estimationsDiv.attr("data-done", true);
                form.find('#estimation-button').css("display", "none");
                form.find('#voting').css("display", "none");
                $.ajax({
                  type: "POST",
                  url: '/add_round/' + sprintCardId+'/'+roundNumber,
                  dataType: 'json',
                  success: function (data) {
                    updateModal(form, sprintCardId)
                  }
                });
              }
            }
          }
          form.find('#estimation-button').css("display", "none");
          form.find('#voting').css("display", "none");
          form.find('#already-voted').css("display", "inline");

        }
      });
    }
  }

  $('#create-sprint-card').submit( function (e) {
    e.preventDefault();
    var cardId = $(this).attr("data-card-id");
    var sprintId = $(this).attr("data-sprint-id");
    var color = $(this).find('input[type=radio]:checked').val();
    var title = $(this).find('#title').val();
    var prio = $(this).find("#prio option:selected" ).val();
    $('#cardModal').modal('hide');

    $.ajax({
      type: "POST",
      url: '/new_sprint_card',
      data: { title: title, card_id: cardId, sprint_id: sprintId, color: color, priority: prio},
      success: function(data) {
        location.reload();
      }
    });
  });

  $(document).ready( function() {
    $( "[id^=draggable]" ).draggable({ revert: "invalid", helper: "clone", zIndex: 100, axis: "x",
    start: function() {
        $(this).parent().parent().parent().children('#droppable').addClass('dropzone');
    },
    stop: function() {
        $(this).parent().parent().parent().children('#droppable').removeClass('dropzone');
    }});

    $( "[id^=droppable]" ).droppable({
      activeClass: "ui-state-active",
      drop: function( event, ui ) {
        var cardId = ui.draggable.attr("data-sprint-card-id");
        var boardTitle = $(this).attr('data-board-name');
        if(boardTitle == "Done") {
          $.ajax({
            url: '/sprint_card_done/'+cardId+'/'+boardTitle,
            success: function() {
              location.reload();
            }
          });

        } else {

          if(boardTitle != ui.draggable.attr("data-board-title")) {
            ui.draggable.attr("data-board-title", $(this).attr('data-board-title') );
            $.ajax({
              url: '/change_sprint_board/'+cardId+'/'+boardTitle,
              success: function() {
                  location.reload();
              }
            });
          }
        }
      }
    });
  } );
  function sprintCardDone(sprintCardId) {
      $.ajax({
          method: 'POST',
          url: '/sprint_card_done/'+sprintCardId,
          success: function() {
              location.reload();
          }
      });
  }

  function updateRetro(sprintId, opinion) {
      var text = '';
      if(opinion) {
          var pro = $('#comment-pro');
          text = pro.val();
          pro.val('');
      } else {
          var contra = $('#comment-contra');
          text = contra.val();
          contra.val('');
      }
      $.ajax({
          method: 'GET',
          url: '/update_retro',
          data: {sprint_id: sprintId, pro: opinion, text: text},
          success: function(data) {
              var content = '';
              for (var x = 0; x < data.length; x++) {
                  content += '<tr>';
                  content += '<td>'+data[x].username+'</td>';
                  content += '<td>'+data[x].text+'</td>';
                  content += '</tr>';
              }
              if(opinion) {
                  var bod = $('#body-pro');
                  bod.children().remove();
                  bod.append(content);
              } else {
                  var bodc = $('#body-con');
                  bodc.children().remove();
                  bodc.append(content);
              }
          }
      });
  }

  function deleteSprintCard(cardId) {
      var confirmed = confirm('Task wirklich löschen?');
      if(confirmed){
          $.ajax({
              method: 'DELETE',
              url: '/delete_sprint_card/'+cardId,
              success: function(data) {
                  $('#sprintCardModal'+cardId+'').modal('hide');
                  $('[data-sprint-card-id='+cardId+']').remove()
              }
          });
      }
  }


  function updateModal(caller, sprintCardId) {
    var boardTitle = $(caller).attr('data-board-title');
    if(true) {

      var req1 = $.ajax({
        type: "GET",
        url: '/card_assets/' + sprintCardId,
        dataType: 'json',
        success: function (data1) {
        }
      });
      var req2 = $.ajax({
        type: "GET",
        url: '/user_count/' + <%= @sprint.dashboard.project.id %>,
        dataType: 'json',
        success: function (data2) {
        }
      });
      $.when(req1, req2).done(function(data1, data2){
        var userCount = data2[0].user_count;
        var modal = $('#sprintCardModal'+sprintCardId);
        modal.find('#round-ul'+sprintCardId).children().remove();
        modal.find('#content'+sprintCardId).children().remove();
        var roundCount = data1[0]["estimation_rounds"].length;
        for (var x = 0; x < roundCount; x++) {
          var roundNumber = data1[0]["estimation_rounds"][x].round_number;
          var estimationId = data1[0]["estimation_rounds"][x].id;
          var estLength = data1[0]["estimation_rounds"][x]["estimated_works"].length;
          var work = data1[0]["estimation_rounds"][x]["estimated_works"];
          var day = data1[0]["estimation_rounds"][x]["estimated_works"][0];
          if(typeof day === 'undefined') {
            day = 999;
          } else {
            day = day.estimated_days
          }
            var hasVoted = false;
            var sameDay = false;
          if(day != 999) {
              sameDay = true;
              if(typeof work !== 'undefined') {
                  for(var z = 0; z < work.length; z++) {
                      if(day != data1[0]["estimation_rounds"][x]["estimated_works"][z].estimated_days) {
                          sameDay = false;
                      }
                      var name = "<%= current_user.username %>";
                      if(name == data1[0]["estimation_rounds"][x]["estimated_works"][z].user_name) {
                          hasVoted = true;
                      }
                  }
              }
          }

          if(x == 0) {
            var content = '<li class="active">';
          } else {
            var content = '<li>';
          }
          content += '<a data-toggle="tab" href="#change-form-sprint-'+sprintCardId+estimationId+'">';
          content += 'Runde '+data1[0]["estimation_rounds"][x].round_number+'</a>';
          content += '</li>';
          modal.find('#round-ul'+sprintCardId).append(content);


          content = '<form id="change-form-sprint-'+sprintCardId+estimationId+'"';
          content += ' data-card-id="'+sprintCardId+'" data-board-title="'+boardTitle+'"';
          if(x == 0){
            content += 'class="tab-pane active" data-round-id="'+estimationId+'"';
          } else {
            content += 'class="tab-pane fade" data-round-id="'+estimationId+'"';
          }
          content += ' data-round-number="'+data1[0]["estimation_rounds"][x].round_number+'">';
          content += '<div class="" id="round'+estimationId+'">';
          content += '<div class="tabbable">';
          content += '<ul class="nav nav-tabs">';
          content += '<li <%= current_user.scrum_team? ? "" : "style=display:none"%>>';
          content += '<a data-toggle="tab" href="#home'+estimationId+'">Optionen</a>';
          content += '</li>';
          content += '<li class="active">';
          content += '<a data-toggle="tab" href="#menu1'+estimationId+'">Diskussion</a>';
          content += '</li>';
          content += '<li <%= current_user.scrum_team? ? "" : "style=display:none"%>>';
          content += '<a data-toggle="tab" href="#menu2'+estimationId+'">Aufwand</a>';
          content += '</li>';
          console.log('Name ' + data1[0].username);
          console.log('same day ' + sameDay);
            console.log('round count ' +roundCount);
            console.log('round count minus 1 ' +(roundCount-1));
            console.log(x);
            console.log('board title ' +boardTitle);
            console.log('est length ' + estLength);
            console.log('user count ' + userCount);
            console.log('------------------');

          if(data1[0].username == null && sameDay && (roundCount-1) == x && boardTitle == "Planning" && estLength == userCount) {
              console.log('*********');
              console.log('if = true');
              console.log('*********');
            content += '<li>';
            content += '<a data-toggle="tab" href="#menu5'+estimationId+'">Übernehmen</a>';
            content += '</li>';
          }
          if(boardTitle == "In Work" && roundCount-1 == x && data1[0].username == '<%= current_user.username %>') {
            content += '<li>';
            content += '<a data-toggle="tab" href="#menu3'+estimationId+'">Erledigt</a>';
            content += '</li>';
          }
          if(boardTitle == "Code Review" && roundCount-1 == x) {
            content += '<li>';
            content += '<a data-toggle="tab" href="#menu4'+estimationId+'">Change Request</a>';
            content += '</li>';
          }
          content += '</ul>';
          content += '<div class="tab-content">';
          content += '<div id="home'+estimationId+'" class="tab-pane fade">';
          content += '<div class="form-group"><br>';
          content += '<label for="title'+sprintCardId+'">Beschreibung:</label>';
          content += '<input type="text" class="form-control" id="title'+sprintCardId+'" value="'+data1[0].title+'">';
          content += '</div>';
          content += '<div class="colorpick">';
          content += '<label for="color">Farbe wählen:</label>';
          content += '<label class="radio-inline">';
          if(data1[0].color == "lightblue") {
            content += '<input type="radio" name="color" checked="checked" value="lightblue"><%= image_tag("lightblue.PNG") %>';
          } else {
            content += '<input type="radio" name="color" value="lightblue"><%= image_tag("lightblue.PNG") %>';
          }
          content += '</label>';
          content += '<label class="radio-inline">';
          if(data1[0].color == "lightcoral") {
            content += '<input type="radio" name="color" checked="checked" value="lightcoral"><%= image_tag("lightcoral.PNG") %>';
          } else {
            content += '<input type="radio" name="color" value="lightcoral"><%= image_tag("lightcoral.PNG") %>';
          }
          content += '</label>';
          content += '<label class="radio-inline">';
          if(data1[0].color == "lightsalmon") {
            content += '<input type="radio" name="color" checked="checked" value="lightsalmon"><%= image_tag("lightsalmon.PNG") %>';
          } else {
            content += '<input type="radio" name="color" value="lightsalmon"><%= image_tag("lightsalmon.PNG") %>';
          }
          content += '</label><hr></div>';
          content += '<div class="form-group">';
          content += '<label for="prio'+sprintCardId+'">Priorität:</label>';
          content += '<select class="form-control" id="prio'+sprintCardId+'">';
          content += '<option></option>';
          content += '<option value="3">gering</option>';
          content += '<option value="2">mittel</option>';
          content += '<option value="1">hoch</option>';
          content += '</select>';
          content += '</div>';
          content += '<p><button type="submit" class="btn btn-default"';
          content += 'onclick="updateOptions(\'change-form-sprint-'+sprintCardId+estimationId+'\')">Aktualisieren</button></p>';
          content += '</div>';
          // if board.title == "Sprint Backlog" war hier vorher für den Rest
          content += '<div id="menu1'+estimationId+'" class="tab-pane fade in active"><br>';
          content += '<div class="form-group">';
          content += '<label for="comment'+sprintCardId+'">Kommentar: </label>';
          content += '<input type="text" class="form-control" id="comment'+sprintCardId+'" value="">';
          content += '</div>';

          content += '<div id="work-comments'+sprintCardId+estimationId+'"><hr>';
          content += '<div class="container-fluid" id="comment">';
          content += '<table class="table"><thead>' +
              '<tr><th>User</th><th>Kommentar</th><th>Datum</th></tr></thead><tbody id="table'+sprintCardId+estimationId+'">';
          for (var y = 0; y < data1[0]["estimation_rounds"][x]["work_comments"].length; y++) {
            var local = data1[0]["estimation_rounds"][x]["work_comments"][y];
            var date = new Date(local.updated_at);
            var tag = date.getDate();
            tag = (tag < 10) ? ("0" + tag) : tag;
            var monat = date.getMonth();
            monat += 1;
            monat = (monat < 10) ? ("0" + monat) : monat;
            var jahr = date.getFullYear();
            var stunde = date.getHours();
            var minute = date.getMinutes();
            minute = (minute < 10) ? ("0" + minute) : minute;
            var sekunden = date.getSeconds();
            sekunden = (sekunden < 10) ? ("0" + sekunden) : sekunden;

            var datum = "<p>Am: " + tag + "." + monat + "." + jahr + "</p><p>Um: " + stunde + ":" + minute + ":" + sekunden + "</p>";

            content += '<tr><td>' + local.user_name + '</td><td>' + local.text + '</td><td>' + datum + '</td></tr>';
          }
          content += "</tbody></table></div>";
          content += '<p><button type="submit" class="btn btn-default"';
          content += 'onclick="updateComment(\'change-form-sprint-'+sprintCardId+estimationId+'\')">Aktualisieren</button></p>';
          content += '</div></div>';

          content += '<div id="menu2'+estimationId+'" class="tab-pane fade">';
          if(hasVoted) {
            content += '<br>';
            content += '<div id="already-voted">';
          } else {
            content += '<br>';
            content += '<div id="already-voted" style="display:none">';
          }
          content += '<div class="alert alert-info">';
          content += 'Sie haben bereits gewählt.<br>Sobald alle Teilnehmer gewählt haben, wird das Ergebnis hier angezeigt.';
          content += '</div>';
          content += '</div>';
          if(!hasVoted){
            content += '<div class="form-group" id="voting"><br>';
            content += '<label for="sel'+sprintCardId+'">Aufwandsschätzung in Tagen:</label>';
            content += '<select class="form-control" id="sel'+sprintCardId+'">';
            content += '<option>0</option><option>1</option><option>2</option><option>3</option>';
            content += '<option>5</option><option>8</option><option>13</option><option>20</option>';
            content += '<option>40</option><option>100</option>';
            content += '</select></div>';
          }
          content += '<div id="estimations'+sprintCardId+estimationId+'">';
          content += '<div class="container-fluid" id="aufwand">';

          var showEstimations = false;
          var estimationsDiv = $("#estimations" + sprintCardId + estimationId);
          if(userCount == estLength && sameDay) {
            showEstimations = true;
            var well = $('.well[data-card-id=' + sprintCardId + ']');
            well.first().prop("id", "draggable");
          }
          var nextRound = false;
          if(userCount == estLength && !sameDay) {

            showEstimations = true;
            $.ajax({
              type: "POST",
              url: '/add_round/' + sprintCardId +'/'+roundNumber,
              dataType: 'json',
              success: function (data4) {
                if(data4.round_created) {
                    updateModal(this, sprintCardId);
                }
              }
            });
          }

          if(showEstimations) {
            content += '<table class="table"><thead>' +
                '<tr><th>User</th><th>Aufwand</th><th>Datum</th></tr></thead><tbody>';
            for (var z = 0; z < estLength; z++) {
              local = data1[0]["estimation_rounds"][x]["estimated_works"][z];
              date = new Date(local.updated_at);
              tag = date.getDate();
              tag = (tag < 10) ? ("0" + tag) : tag;
              monat = date.getMonth();
              monat += 1;
              monat = (monat < 10) ? ("0" + monat) : monat;
              jahr = date.getFullYear();
              stunde = date.getHours();
              minute = date.getMinutes();
              minute = (minute < 10) ? ("0" + minute) : minute;
              sekunden = date.getSeconds();
              sekunden = (sekunden < 10) ? ("0" + sekunden) : sekunden;

              datum = "<p>Am: " + tag + "." + monat + "." + jahr + "</p><p>Um: " + stunde + ":" + minute + ":" + sekunden + "</p>";

              content += '<tr><td>' + local.user_name + '</td><td>' + local.estimated_days + ' Tage</td><td>' + datum + '</td></tr>';
            }
            content += "</tbody></table>";
          }
          content += '</div>';
          content += '</div>';
          if(!hasVoted) {
            content += '<p><button type="submit" class="btn btn-default"';
            content += 'onclick="estimate(\'change-form-sprint-'+sprintCardId+estimationId+'\','+roundNumber+')" id="estimation-button">Abschicken</button></p>';
          }
          content += '</div>';

          if(boardTitle != "Sprint Backlog") {
            content += '<div id="menu3'+estimationId+'" class="tab-pane fade"><br>';
            content += '<div class="form-group">';
            var done = $('[data-sprint-card-id='+sprintCardId+']').find('.progress').text().trim().split(' ');
            content += '<label for="work-done'+sprintCardId+'">Bisher von '+ done[2]+' erledigt in Tagen: </label>';
            content += '<input type="text" class="form-control" id="work-done'+sprintCardId+'" value="'+done[0]+'" style="max-width: 20%">';
            content += '</div>';

            content += '<div id="work-comments'+sprintCardId+estimationId+'"><hr>';
            content += '<div class="container-fluid" id="comment">';
            content += '</div>';
            content += '<p><button type="submit" class="btn btn-default"';
            content += 'onclick="updateWorkDone(\'change-form-sprint-'+sprintCardId+estimationId+'\')">Aktualisieren</button></p>';
            content += '</div></div>';
          }
          if(data1[0].username == null && sameDay && roundCount-1 == x && boardTitle == "Planning") {
            content += '<div id="menu5'+estimationId+'" class="tab-pane fade"><br>';
            content += '<p><button type="submit" class="btn btn-danger"';
            content += 'onclick="registerForCard(\'change-form-sprint-'+sprintCardId+estimationId+'\')">Übernehmen</button></p>';
            content += '</div>';
          }
          if(boardTitle == "Code Review" && roundCount-1 == x) {
            content += '<div id="menu4'+estimationId+'" class="tab-pane fade"><br>';
            if(<%= current_user.product_owner? %>){
                content += '<button type="button" class="btn btn-success" onclick="sprintCardDone('+sprintCardId+')">Genehmigen</button><br><br>';
            }
            content += '<div class="form-group">';
            content += '<label for="request'+sprintCardId+'">Kommentar: </label>';
            content += '<input type="text" class="form-control" id="request'+sprintCardId+'" value=""">';
            content += '</div>';

            content += '<div id="change-request'+sprintCardId+estimationId+'"><hr>';

              content += '<div class="container-fluid" id="request">';
              content += '<table class="table"><thead>' +
                  '<tr><th>User</th><th>Kommentar</th><th>Datum</th></tr></thead><tbody id="tablereq'+sprintCardId+estimationId+'">';
              for (var y = 0; y < data1[0]["change_requests"].length; y++) {
                  var local = data1[0]["change_requests"][y];
                  var date = new Date(local.updated_at);
                  var tag = date.getDate();
                  tag = (tag < 10) ? ("0" + tag) : tag;
                  var monat = date.getMonth();
                  monat += 1;
                  monat = (monat < 10) ? ("0" + monat) : monat;
                  var jahr = date.getFullYear();
                  var stunde = date.getHours();
                  var minute = date.getMinutes();
                  minute = (minute < 10) ? ("0" + minute) : minute;
                  var sekunden = date.getSeconds();
                  sekunden = (sekunden < 10) ? ("0" + sekunden) : sekunden;

                  var datum = "<p>Am: " + tag + "." + monat + "." + jahr + "</p><p>Um: " + stunde + ":" + minute + ":" + sekunden + "</p>";

                  content += '<tr><td>' + local.username + '</td><td>' + local.text + '</td><td>' + datum + '</td></tr>';
              }
              content += "</tbody></table></div>";

            content += '<p><button type="submit" class="btn btn-default"';
            content += 'onclick="updateRequest(\'change-form-sprint-'+sprintCardId+estimationId+'\')">Aktualisieren</button></p>';
            content += '</div></div>';
          }

          content += '</div></div></div></form>';


          modal.find('#content'+sprintCardId).append(content);


        }
        bindListeners();
      });
    }
  }

</script>