<h2>Roadmap</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th style="width: 8%" class="text-center">Sprint-Nr</th>
    <th style="width: 84%" class="text-center">Items</th>
    <th style="width: 8%" class="text-center">Löschen</th>
  </tr>
  </thead>
  <tbody>
  <% roadmap_rows.each do |rm| %>
  <tr>
    <% if rm.is_milestone %>
        <td class="text-center" style="background-color:lightyellow; border-right: solid 1px"></td>
        <td class="text-center" style="background-color:lightyellow"> <%= rm.title %></td>
        <td class="text-center" style="background-color:lightyellow; border-left: solid 1px">
          <% if current_user.product_owner? %>
          <span class="	glyphicon glyphicon-remove" style="cursor: pointer; color:red" onclick="deleteRow(<%= rm.id %>)"></span>
          <% end %>
        </td>
    <% else %>
          <td class="text-center" style="border-right: solid 1px">
            <%= rm.sprint_nr %>
          </td>
          <td>
            <div class="row">
            <% rm.roadmap_items.each do |rmi| %>
                  <div class="col-sm-3">
                    <div class="well well-sm shadow" style="background-color: <%= rmi.is_user_story ? 'cornflowerblue' : 'indianred' %>">
                      <% if current_user.product_owner? %>
                      <p style="float:right">
                        <span class="	glyphicon glyphicon-remove" style="cursor: pointer; color:red" onclick="deleteItem(<%= rmi.id %>)"></span>
                      </p>
                      <% end %>
                      <p>
                        <%= rmi.title %>
                      </p>
                    </div>
                  </div>
            <% end %>
            </div>
            <div class="col-sm-3">
              <% if current_user.product_owner? %>
              <button type="button" class="btn btn-default btn-sm shadow" data-toggle="modal" data-target="#addModal" onclick="$('#row-id').val('<%= rm.id %>')">
                <span class="glyphicon glyphicon-plus" style="color:blue"></span>
              </button>
              <% end %>
            </div>
          </td>
          <td style="border-left: solid 1px;" class="text-center">
            <% if current_user.product_owner? %>
                <span class="	glyphicon glyphicon-remove" style="cursor: pointer; color:red" onclick="deleteRow(<%= rm.id %>)"></span>
            <% end %>
          </td>
    <% end %>
  </tr>
  <% end %>
  <tr>
    <td>
    </td>
    <td>
      <% if current_user.product_owner? %>
      <div class="row">
        <div class="col-sm-2">
          <button type="button" class="btn btn-default btn-sm shadow" onClick="addRow(false, <%= dashboard_id %>)">Zeile hinzufügen</button>
        </div>
        <div class="col-sm-4">
          <div class="input-group">
            <input type="text" class="form-control shadow" placeholder="Milestone hinzufügen" id="milestone-title">
            <div class="input-group-btn">
              <button class="btn btn-default shadow" type="button" onClick="addRow(true, <%= dashboard_id %>)">
                <i class="glyphicon glyphicon-floppy-disk" style="color:green"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </td>
  </tr>
  </tbody>
</table>

<div id="addModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Item hinzufügen</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" name="row-id" value="" id="row-id">
        <label class="radio-inline"><input type="radio" name="optradio" id="story" checked>User Story</label>
        <label class="radio-inline"><input type="radio" name="optradio" id="feature">Feature</label>
        <div class="form-group">
          <label for="usr">Titel:</label>
          <input type="text" class="form-control" id="title">
        </div>
        <button type="button" class="btn btn-default" id="save-btn" data-row-id="" onclick="addItem()" data-dismiss="modal">Speichern</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
      </div>
    </div>

  </div>
</div>

<script>
    function addRow(milestone, dashboardId){
        var title = $('#milestone-title').val()
        $.ajax({
            type: "POST",
            url: '/add_row',
            data: {id: dashboardId, milestone: milestone, title: title},
            success: function(data) {
                renderRoadmap();
            }
        });
    }
    function addItem() {
        var isStory = $('#story').prop('checked');
        var isFeature = $('#feature').prop('checked');
        var title = $('#title').val();
        $('#title').val('');
        var rowId = $('#row-id').val();
        $.ajax({
            type: "POST",
            url: '/add_roadmap_item',
            data: {row_id: rowId, title: title, is_story: isStory, is_feature: isFeature},
            success: function(data) {
                renderRoadmap();
            }
        });
    }
    function deleteItem(itemId){
        var confirmed = confirm('Item wirklich löschen?');
        if(confirmed) {
            $.ajax({
                type: "DELETE",
                url: '/delete_roadmap_item',
                data: {id: itemId},
                success: function() {
                    renderRoadmap();
                }
            });
        }
    }
    function deleteRow(rowId){
        var confirmed = confirm('Zeile wirklich löschen?');
        if(confirmed) {
            $.ajax({
                type: "DELETE",
                url: '/delete_roadmap_row',
                data: {id: rowId, dashboard_id: <%= dashboard_id %>},
                success: function() {
                    renderRoadmap();
                }
            });
        }
    }
</script>