<div id ="dashboard-wrapper">
  <h1>Projekt: <%= @dashboard.project.title %></h1>

  <div class="container-fluid">

    <div class="row">

      <%  @dashboard.boards.each do |board| %>
        <div class="col-sm-2" style="margin-top: 2em">
          <div class="panel panel-default shadow2">
            <div class="panel-heading"><%= board.title %></div>

            <div class="panel-body" style="min-height: 8em"  id="droppable<%= board.id %>" data-board-id="<%=board.id%>">

              <% board.cards.each do |f| %>
                <% if board.title == "Fertig" %>

                  <div class="well well shadow" style="background-color: <%= f.color %>" data-card-id="<%=f.id%>">
                    <%= f.title %>
                  </div>

                <% else %>
                  <div class="well well shadow" style="background-color: <%= f.color %>" id="draggable<%= f.id %>" data-card-id="<%=f.id%>"
                       data-toggle="modal" data-target="#cardModal<%= f.id %>">
                    <%= f.title %>
                  </div>

                  <div class="modal fade" id="cardModal<%= f.id %>" role="dialog">
                    <div class="modal-dialog">

                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Karte anpassen</h4>
                        </div>
                        <div class="modal-body">

                          <form id="change-form-<%= f.id %>" data-card-id="<%= f.id %>">
                            <div class="form-group">
                              <label for="title<%= f.id %>">Beschreibung:</label>
                              <input type="text" class="form-control" id="title<%= f.id %>" placeholder="Neuer Titel">
                            </div>
                            <label for="color">Farbe wählen:</label>
                              <label class="radio-inline">
                                <% if f.color == "lightblue" %>
                                    <input type="radio" name="color" checked="checked" value="lightblue"><%= image_tag('lightblue.PNG') %>
                                <% else %>
                                    <input type="radio" name="color" value="lightblue"><%= image_tag('lightblue.PNG') %>
                                <% end %>
                              </label>
                              <label class="radio-inline">
                                <% if f.color == "lightcoral" %>
                                    <input type="radio" name="color" checked="checked" value="lightcoral"><%= image_tag('lightcoral.PNG') %>
                                <% else %>
                                    <input type="radio" name="color" value="lightcoral"><%= image_tag('lightcoral.PNG') %>
                                <% end %>
                              </label>
                              <label class="radio-inline">
                                <% if f.color == "lightsalmon" %>
                                    <input type="radio" name="color" checked="checked" value="lightsalmon"><%= image_tag('lightsalmon.PNG') %>
                                <% else %>
                                    <input type="radio" name="color" value="lightsalmon"><%= image_tag('lightsalmon.PNG') %>
                                <% end %>
                              </label>
                            <p>
                              <button type="submit" class="btn btn-default">Fertig</button>
                            </p>

                          </form>
                        </div>
                      </div>

                    </div>
                  </div>
                  <% end %>
              <% end %>
            </div>

            <% if board.title == "Project Backlog" %>
              <div class="panel-footer">
                <div data-toggle="modal" data-target="#new-card-modal"> Neue Aufgabe anlegen... </div>
              </div>
            </div>

            <% elsif board.title == "Fertig" %>

            <div class="panel-footer">

              </div>
            </div>

            <% else %>

            <div class="panel-footer">
              <div>

                <%= link_to("Zum Sprint", controller: "sprint", action: "index", id: @dashboard.id) %>

              </div>
            </div>
            </div>
          <% end %>

            <div class="modal fade" id="new-card-modal" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Neue Aufgabe anlegen</h4>
                  </div>
                  <div class="modal-body">
                    <%= form_tag("/new_card", remote: true) do %>
                        <%= hidden_field_tag 'board_id', board.id %>
                        <%= label_tag(:title, "Beschreibung:") %>
                        <%= text_field_tag(:title) %>
                        <br><br><br>
                        <%= submit_tag("Anlegen", class:"btn btn-success", id: "confirm-button") %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
        </div>
    <% end %>


    <div class="col-sm-6" style="margin-top: 2em">
      <div class="well well shadow" style="background-color: burlywood">
        Hier kommen dann Graph shizzle und Statistiken
      </div>
    </div>
  </div>
</div>

<script>

/*  $('#confirm-button').click(function() {
    $('#new-card-modal').modal('toggle');
    setTimeout(function(){
      location.reload(true);
    }, 1500);
  });*/

  $("[id^=rename-form]").submit( function (e) {
    e.preventDefault();
    var form = $(this)
    var cardId = form.children("input#card_id").val();
    var title = form.children("input#title").val();
    $(".dropdown").hide();
    $.ajax({
      type: "POST",
      url: '/rename/'+cardId,
      data: { title: title },
      success: function(data, textStatus, xhr) {
        form.closest(".well").text(title)
      }
    });

  });

  $("[id^=change-form]").submit( function (e) {
    e.preventDefault();
    var form = $(this);
    var cardId = form.attr("data-card-id");
    var color = form.find('input[type=radio]:checked').val();
    var title = form.find("input[id^=title]").val();
    $('#cardModal'+cardId).modal('hide');
    $.ajax({
      type: "POST",
      url: '/update_card/'+cardId,
      data: { title: title, color: color },
      success: function(data, textStatus, xhr) {
        var well = $('#draggable'+cardId);
        well.css("background-color", color);
        well.text(title);
      }
    });

  });

  $(document).ready( function() {
    $( "[id^=draggable]" ).draggable({ revert: "invalid", helper: "clone", zIndex: 100 });

    $( "[id^=droppable]" ).droppable({
      classes: {
        "ui-droppable-active": "ui-state-active",
        "ui-droppable-hover": "ui-state-hover"
      },
      drop: function( event, ui ) {
        var cardId = ui.draggable.attr("data-card-id");
        var boardId = $(this).attr("data-board-id");
        var boardName =  $(this).closest('.panel').children('.panel-heading').text();
        if(boardName == "Sprint Backlog") {
          $.ajax({
            url: '/move_to_sprint/'+cardId+'/'+boardId,
            success: function(data, textStatus, xhr) {
            }
          });
        } else {
          $.ajax({
            url: '/change_board/'+cardId+'/'+boardId,
            success: function(data, textStatus, xhr) {
            }
          });
        }
        $(this).append(ui.draggable);
      }
    });
  } );

</script>
