<div id ="dashboard-wrapper">
  <div class="row">
    <div class="col-sm-3" style="margin-top: 1em; margin-left: 1em">
      <div class="panel panel-primary">
        <div class="panel-heading"><h3>Projekt: <%= @dashboard.project.title %></h3></div>
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row">
      <%  @dashboard.boards.each do |board| %>
        <div class="col-sm-2" style="margin-top: 2em">
          <div class="panel panel-default shadow2" data-value="<%= board.id %>">

            <div class="panel-heading"><%= board.title %>
            </div>

            <div class="panel-body" style="min-height: 8em"  id="droppable<%= board.id %>" data-board-id="<%=board.id%>">
              <div id="cards<%= board.id %>"></div>
            </div>

            <% if board.title == "Project Backlog" %>
                <div class="panel-footer">
                  <div data-toggle="modal" data-target="#new-card-modal"> Neue Aufgabe anlegen... </div>
                </div>
                <div class="modal fade" id="new-card-modal" role="dialog">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Neue Aufgabe anlegen</h4>
                      </div>
                      <div class="modal-body">
                        <%= form_tag("/new_card", id:"new-card-form") do %>
                            <%= hidden_field_tag 'board-id', board.id %>
                            <%= label_tag(:title, "Beschreibung:") %>
                            <%= text_field_tag(:title) %>
                            <br><br><br>
                            <%= submit_tag("Anlegen", class:"btn btn-success", id: "confirm-button") %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
            <% elsif board.title == "Fertig" %>

                <div class="panel-footer">
                </div>

            <% else %>

                <div class="panel-footer">
                  <div>
                    <%= link_to("Zum Sprint", controller: "sprint", action: "index", id: @dashboard.id) %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
    <% end %>


        <div class="col-sm-6" style="margin-top: 2em">
          <div class="well well shadow" style="background-color: burlywood">
            Hier kommen dann Graph shizzle und Statistiken
          </div>
        </div>

    </div>
  </div>
</div>


<script>

  $(document).ready( function () {

    var panels = $('.panel.panel-default');

    for (var i = 0; i < panels.length; i++) {
      var boardId = panels[i].attributes[1].value;
      getCards(boardId);
    }
  });

  $('#new-card-form').submit( function (e) {
    e.preventDefault();
    var boardId = $('#board-id').val();
    var title = $('#title').val();
    $('#new-card-modal').modal('hide');

    $.ajax({
      type: "POST",
      url: '/new_card',
      data: { title: title, board_id: boardId },
      success: function(data, textStatus, xhr) {
        getCards(boardId);
      }
    });
  });

  function getCards(boardId) {

    $.ajax({
      type: "GET",
      url: '/get_cards/'+boardId,
      success: function(data) {
        if(data != null) {
          for (var x = 0; x < data.length; x++) {

            var content = "";

            if (data[x].title == "Fertig") {
              content += '<div class="well well shadow" style="background-color:' + data[x].color + '" data-card-id="' + data[x].id + '" data-board-id="' + boardId + '">' + data[x].title + '</div>';
            } else {
              content += '<div class="well well shadow" style="background-color:' + data[x].color + '" id="draggable' + data[x].id + '" data-card-id="' + data[x].id + '"';
              content += 'data-toggle="modal" data-target="#cardModal' + data[x].id + '">' + data[x].title + '</div>';
              content += '<div class="modal fade" id="cardModal' + data[x].id + '" role="dialog">';
              content += '<div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button>';
              content += '<h4 class="modal-title">Karte anpassen</h4></div><div class="modal-body">';
              content += '<form id="change-form-' + data[x].id + '" data-card-id="' + data[x].id + '">';
              content += '<div class="form-group">';
              content += '<label for="title' + data[x].id + '">Beschreibung:</label>';
              content += '<input type="text" class="form-control" id="title' + data[x].id + '" value="' + data[x].title + '"></div>';
              content += '<label for="color">Farbe wählen:</label><label class="radio-inline">';
              if (data[x].color == "lightblue") {
                content += '<input type="radio" name="color" checked="checked" value="lightblue"><%= image_tag("lightblue.PNG") %></label>';
              } else {
                content += '<input type="radio" name="color" value="lightblue"><%= image_tag("lightblue.PNG") %></label>';
              }
              content += '<label class="radio-inline">'
              if (data[x].color == "lightcoral") {
                content += '<input type="radio" name="color" checked="checked" value="lightcoral"><%= image_tag("lightcoral.PNG") %></label>';
              } else {
                content += '<input type="radio" name="color" value="lightcoral"><%= image_tag("lightcoral.PNG") %></label>';
              }
              content += '<label class="radio-inline">';
              if (data[x].color == "lightsalmon") {
                content += '<input type="radio" name="color" checked="checked" value="lightsalmon"><%= image_tag("lightsalmon.PNG") %></label>';
              } else {
                content += '<input type="radio" name="color" value="lightsalmon"><%= image_tag("lightsalmon.PNG") %></label>';
              }
              content += '<p><button type="submit" class="btn btn-default" id="change-form-button' + data[x].id + '">Fertig</button></p></form></div></div></div></div>';
            }
            $(content).appendTo("#cards" + boardId);
          }
        }
        bindListener();
      }
    });
  }

  function bindListener() {

    $("[id^=change-form]").submit( function (e) {
      e.preventDefault();
      var form = $(this);
      var cardId = form.attr("data-card-id");
      var boardId = form.attr("data-board-id");
      var color = form.find('input[type=radio]:checked').val();
      var title = form.find("input[id^=title]").val();
      $('#cardModal'+cardId).modal('hide');
      $.ajax({
        type: "POST",
        url: '/update_card/'+cardId,
        data: { title: title, color: color },
        success: function(data, textStatus, xhr) {
          var well = $('#draggable'+cardId);
          well.css("background-color", color);
          well.text(title);
        }
      });
    });

    $( "[id^=draggable]" ).draggable({ revert: "invalid", helper: "clone", zIndex: 100 });

    $( "[id^=droppable]" ).droppable({
      classes: {
        "ui-droppable-active": "ui-state-active",
        "ui-droppable-hover": "ui-state-hover"
      },
      drop: function( event, ui ) {
        var cardId = ui.draggable.attr("data-card-id");
        var boardId = $(this).attr("data-board-id");
        var boardName =  $(this).closest('.panel').children('.panel-heading').text().trim();
        if(boardName === "Sprint Backlog") {
          $.ajax({
            url: '/move_to_sprint/'+cardId+'/'+boardId,
            success: function(data, textStatus, xhr) {
            }
          });
        } else {
          $.ajax({
            url: '/change_board/'+cardId+'/'+boardId,
            success: function(data, textStatus, xhr) {
            }
          });
        }
        $(this).append(ui.draggable);
      }
    });
  }

</script>
