<div id ="dashboard-wrapper">
  <div class="row">
    <div class="col-sm-6" style="margin-top: 1em;">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3>Projekt: <%= @dashboard.project.title %>
            <div style="float: right">
              <% if current_user.product_owner? %>
              <%=	 link_to destroy_project_path(@dashboard.project.id), method: :delete, data: {confirm: 'Projekt wirklich löschen?'} do %>
                  <span class="glyphicon glyphicon-remove" style="color:red"></span>
              <% end %>
              <% end %>
            </div>
          </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <% if current_user.product_owner? %>
              <div class="col-sm-5">
                <form id="add-user-form" data-project-id="<%=@dashboard.project.id%>">
                  <div class="form-group">
                    <label for="sel1">Nutzer wählen:</label>
                    <select class="form-control" id="sel1">
                    </select>
                  </div>
                  <button type="submit" class="btn btn-default">Hinzufügen</button>
                </form>
              </div>
              <div class="col-sm-7">
                <strong>Projektteilnehmer</strong>
                <div id="user-list"></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <%  @dashboard.boards.each do |board| %>
              <div class="col-sm-4" style="margin-top: 2em">
                <div class="panel panel-default shadow2" data-value="<%= board.id %>">

                  <div class="panel-heading"><%= board.title %>
                  </div>

                  <div class="panel-body" style="min-height: 8em"  <%=  board.title == "Fertige Sprints"? '' : 'id=droppable'+board.id.to_s+'' %> data-board-id="<%=board.id%>">
                    <div id="cards<%= board.id %>">
                      <% if board.title == "Aktueller Sprint" %>
                          <div class="drop-helper" id="droppable<%= board.id %>">
                          </div>
                      <% end %>
                    </div>
                  </div>

                  <% if board.title == "Project Backlog" %>
                      <% if current_user.product_owner? %>
                      <div class="panel-footer" style="text-align: center">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#new-card-modal"
                                onclick="updateNewCardForm(<%= board.id %>)">
                          Neues Item anlegen
                        </button>
                      </div>
                      <% end %>
                  <% elsif board.title == "Fertige Sprints" %>

                      <div class="panel-footer">
                      </div>

                  <% else %>

                      <div class="panel-footer" style="text-align: center">
                        <div>
                          <%=	 link_to 'Zum Sprint', sprint_path(@dashboard.id), class:'btn btn-primary'  %>
                        </div>
                      </div>
                  <% end %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-6" style="margin-top: 1em;">
      <div class="well well shadow" style="background-color: burlywood">
        <p>Aktueller Sprint</p>
        <%= pie_chart({"Erledigt" => @ready[:done], "Noch zu erledigen" => @ready[:left]},donut: true) %>
        <%= bar_chart [
                          {name: "Work Done", data: SprintCard.group(:username).sum(:work_done)},
                          {name: "Work to do", data: SprintCard.group(:username).sum(:work_to_do)}
                      ] %>
        <%= bar_chart SprintCard.group(:username).count, xtitle: "Anzahl Tasks übernommen" %>
        <!--<#%= bar_chart SprintCard.group(:work_to_do).count, xtitle: "Anzahl Tasks", ytitle: "Aufwand in Tagen" %>-->
      </div>
    </div>
  </div>




  <div class="modal fade" id="new-card-modal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Neue Aufgabe anlegen</h4>
        </div>
        <div class="modal-body">
          <form id="new-card-form" action="/new_card" accept-charset="UTF-8" method="post">
            <input type="hidden" name="board-id" id="board-id" data-board-id="">
            <label for="title">Beschreibung:</label>
            <input type="text" name="title" id="title">
            <br><br><br>
            <input type="submit" name="commit" value="Anlegen" class="btn btn-success" id="confirm-button" data-disable-with="Anlegen">
          </form>

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="cardModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Karte anpassen</h4>
        </div>
        <div class="modal-body">
          <form id="change-form" data-card-id="">
            <div class="form-group">
              <label for="title">Beschreibung:</label>
              <input type="text" class="form-control" id="title" value="">
            </div>
            <label for="color">Farbe wählen:</label>
            <label class="radio-inline">
                <input type="radio" name="color" value="lightblue" id="lightblue"><%= image_tag('lightblue.PNG') %>
            </label>
            <label class="radio-inline">
                <input type="radio" name="color" value="lightcoral" id="lightcoral"><%= image_tag('lightcoral.PNG') %>
            </label>
            <label class="radio-inline">
                <input type="radio" name="color" value="lightsalmon" id="lightsalmon"><%= image_tag('lightsalmon.PNG') %>
            </label>
            <p>
              <button type="submit" class="btn btn-default">Fertig</button>
            </p>

          </form>
        </div>
      </div>

    </div>
  </div>
</div>


<script>

  $(document).ready( function () {

    var panels = $('.panel.panel-default');

    for (var i = 0; i < panels.length; i++) {
      var boardId = panels[i].attributes[1].value;
      getCards(boardId);
    }
    $('#user-list').children().remove();
    getUsers(<%=	 @dashboard.project.id %>);
    $('#sel1').children().remove();
    getAvailableUsers(<%=	 @dashboard.project.id %>);
  });

  $("#add-user-form").submit( function (e) {
    e.preventDefault();
    var form = $(this);
    var projectId = form.attr('data-project-id');
    var userId = form.find('#sel1').val();

    if(userId != null) {
      $.ajax({
        type: "POST",
        url: '/add_user/'+projectId+'/'+userId,
        data: { },
        success: function(data, textStatus, xhr) {
          $('#user-list').children().remove();
          getUsers(<%=	 @dashboard.project.id %>);
          $('#sel1').children().remove();
          getAvailableUsers(<%=	 @dashboard.project.id %>);
        }
      });
    }

  });

  $("#change-form").submit( function (e) {
    e.preventDefault();
    var form = $(this);
    var cardId = form.attr("data-card-id");
    var boardId = form.attr("data-board-id");
    var color = form.find('input[type=radio]:checked').val();
    var title = form.find("input[id^=title]").val();
    $('#cardModal').modal('hide');
    $.ajax({
      type: "POST",
      url: '/update_card/'+cardId,
      data: { title: title, color: color },
      success: function(data, textStatus, xhr) {
        var well = $('#draggable'+cardId);
        well.css("background-color", color);
        well.text(title);
      }
    });
  });

  $('#new-card-form').submit( function (e) {
    e.preventDefault();
    var boardId = $(this).attr("data-board-id");
    var title = $('#title').val();
    $('#new-card-modal').modal('hide');

    $.ajax({
      type: "POST",
      url: '/new_card',
      data: { title: title, board_id: boardId, html_id: "draggable" },
      success: function(data, textStatus, xhr) {
        removeCards(boardId);
        getCards(boardId);
        $('#new-card-form')[0].reset();
        $('#confirm-button').prop('disabled', false)
      }
    });
  });

  function updateModal(cardId, color, title) {
    var form = $('#change-form');
    form.attr("data-card-id", cardId);
    form.find('#'+color).prop('checked', true)
    form.find('#title').prop('value', title);
  }

  function updateNewCardForm(boardId) {
    var form = $('#new-card-form');
    form.attr("data-board-id", boardId);
  }

  function getCards(boardId) {

    $.ajax({
      type: "GET",
      url: '/get_cards/'+boardId,
      success: function(data) {
        if(data != null) {
          $("#cards" + boardId).children().remove();
          for (var x = 0; x < data.length; x++) {

            var content = "";

            if (data[x].title == "Fertige Sprints") {
              content += '<div class="well well shadow" style="background-color:' + data[x].color + '" data-card-id="' +
                  data[x].id + '" data-board-id="' + boardId + '">' + data[x].title + '</div>';
            } else {
              content += '<div class="well well shadow" style="background-color:' + data[x].color + '" id="' +
                          data[x].html_id + '" data-card-id="' + data[x].id + '"';
              content += 'data-toggle="modal" data-target="#cardModal"' +
                          'onclick="updateModal(' + data[x].id + ',\'' + data[x].color + '\',\'' + data[x].title + '\')">' +
                          data[x].title + '</div>';
            }
            $("#cards" + boardId).append(content);
          }
        }
        bindListener();
      }
    });
  }
  function removeCards(boardId) {
    $('#cards'+boardId).children().remove()
  }
  function getUsers(projectId) {

    $.ajax({
      type: "GET",
      url: '/get_users/'+projectId,
      success: function(data) {
        if(data != null) {
          for (var x = 0; x < data.length; x++) {

            var content = '<p>'+ data[x].username +'</p>';
            $(content).appendTo("#user-list");
          }
        }
      }
    });
  }

  function getAvailableUsers(projectId) {

    $.ajax({
      type: "GET",
      url: '/get_available_users/'+projectId,
      success: function(data) {
        if(data != null) {
          for (var x = 0; x < data.length; x++) {

            var content = '<option value=' + data[x].id + '>'+ data[x].username + ' ('+ data[x].role +')</option>';
            $(content).appendTo("#sel1");
          }
        }
      }
    });
  }


  function bindListener() {

    $( "[id^=draggable]" ).draggable({ revert: "invalid", helper: "clone", zIndex: 100 });

    $( "[id^=droppable]" ).droppable({
      classes: {
        "ui-droppable-active": "ui-state-active",
        "ui-droppable-hover": "ui-state-hover"
      },
      drop: function (event, ui) {
        var cardId = ui.draggable.attr("data-card-id");
        var boardId = $(this).attr("data-board-id");
        var boardName = $(this).closest('.panel').children('.panel-heading').text().trim();
        var oldBoardName = ui.draggable.closest('.panel').children('.panel-heading').text().trim();
        if (oldBoardName == "Project Backlog" && boardName === "Aktueller Sprint") {
          var confirmed = confirm('Wirklich dem Sprint hinzufügen?');
          if (confirmed) {
            $.ajax({
              url: '/move_to_sprint/' + cardId + '/' + boardId,
              success: function () {
              }
            });
            $(this).append(ui.draggable)
          }
        }
        if (boardName == 'Project Backlog' && oldBoardName == "Aktueller Sprint") {
          var confirmed2 = confirm('Wirklich aus aktuellem Sprint löschen?');
          if (confirmed2) {
            $.ajax({
              method: 'POST',
              url: '/change_board_and_delete/' + cardId + '/' + boardId,
              success: function () {
              }
            });
            $(this).append(ui.draggable);
          }
        }
      }
    })
  }

</script>
