<div id ="index-wrapper">

  <div class="container-fluid">
    <div class="row">
      <% if current_user.product_owner? %>
      <%=	 link_to 'Rollenverwaltung', role_path, class: 'btn btn-success' %>
      <% end %>
      <div id="projects"></div>
      <div class="col-sm-3" style="margin-top: 2em">
        <%	 if current_user.product_owner? %>
        <div class="well well-lg shadow" data-toggle="modal" data-target="#new-project-modal">Neues Projekt...</div>
        <div class="modal fade" id="new-project-modal" role="dialog">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Neues Projekt anlegen</h4>
              </div>
              <div class="modal-body">
                <%= form_tag("/new_project", method: "post", class: "project-form") do %>
                    <%= label_tag(:title, "Titel:") %>
                    <%= text_field_tag(:title) %>
                    <br><br><br>
                    <%= submit_tag("Anlegen", class:"btn btn-success", id: "confirm-button") %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

</div>

<script>

  $(document).ready(function() {
    $("#projects").children().remove();
    getProjects();
  });


  $(".project-form").submit( function (e) {
    e.preventDefault();
    var form = $(this);
    var title = form.children("#title").val();
    $(".dropdown").hide();
    $.ajax({
      type: "POST",
      url: '/new_project',
      data: { title: title },
      success: function(data, textStatus, xhr) {
        $('#new-project-modal').modal('toggle');
        $("#projects").children().remove();
        getProjects();
      }
    });

  });

  function getProjects() {

    $.ajax({
      type: "GET",
      url: '/get_projects',
      success: function(data) {

        for (var x = 0; x < data.length; x++) {
          var content =  '<div class="col-sm-3" style="margin-top: 2em">'
          content += '<a href="/dashboard/'+ data[x].id +'">'
          content += '<div class="well well-lg shadow" style="background-color: palegreen; text-align: center">'
          content += data[x].title + '</div></a></div>';
          $(content).appendTo("#projects");
        }
      }
    });
  };


</script>